/Exercicio/nbproject/private/
/component-select/nbproject/private/
/component-select/dist/
/component-select/build/
/semTemplate/nbproject/private/
/semTemplate/build/
/semTemplate/dist/
/comTemplate/nbproject/private/
/comTemplate/build/
/comTemplate/dist/
/fixacaoProva1/nbproject/private/
/fixacaoProva1/build/
/fixacaoProva1/dist/
/ProvaSabrinaRamosPrado/dist/
/ProvaSabrinaRamosPrado/build/
/banco-dados-intro/nbproject/private/
/banco-dados-intro/build/
/banco-dados-intro/dist/
/banco-dados-carro/nbproject/private/
/banco-dados-carro/dist/
/banco-dados-carro/build/
/manutencao-carro/dist/
/manutencao-carro/build/
/phaselistener/nbproject/private/
/phaselistener/dist/
/phaselistener/build/
/exe-questionarios/nbproject/private/
