/Exercicio/nbproject/private/
/component-select/nbproject/private/
/component-select/dist/
/component-select/build/
/semTemplate/nbproject/private/
/semTemplate/build/
/semTemplate/dist/
/comTemplate/nbproject/private/
/comTemplate/build/
/comTemplate/dist/
/fixacaoProva1/nbproject/private/
/fixacaoProva1/build/
/fixacaoProva1/dist/
/ProvaSabrinaRamosPrado/dist/
/ProvaSabrinaRamosPrado/build/
/banco-dados-intro/nbproject/private/
/banco-dados-intro/build/
/banco-dados-intro/dist/
/banco-dados-carro/nbproject/private/
/banco-dados-carro/dist/
/banco-dados-carro/build/
/manutencao-carro/dist/
/manutencao-carro/build/
/phaselistener/nbproject/private/
/phaselistener/dist/
/phaselistener/build/
/exe-questionarios/nbproject/private/
/exe-questionarios/dist/
/exe-questionarios/build/
/Prova2srp/nbproject/private/
/phaselistener-19-04-2024/phaselistener/nbproject/private/
/phaselistener-19-04-2024/Prova2/nbproject/private/
/Prova2/nbproject/private/
/Prova2/build/
/Prova2/dist/
/novo/nbproject/private/
/internacionalizacao/build/
/internacionalizacao/dist/
/internacionalizacao/nbproject/private/
/chart/nbproject/private/
/chart/dist/
/chart/build/
/chart-banco-de-dados/nbproject/private/
/chart-banco-de-dados/dist/
/chart-banco-de-dados/build/
